*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color: white;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
.logo {
  font-family: 'Mogra', cursive;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}
.youtube-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
.youtube-main_title {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.youtube-main_description {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form_input {
  max-width: 500px;
  min-width: 300px;
  height: 38px;
  background: white;
  outline: none;
  border: none;
  text-indent: 10px;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.form .form_button {
  width: 100px;
  height: 30px;
  background: #4158B0;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  margin-bottom: 3rem;
  border-radius: 3px;
}

/* .download_btn {
  color: white;
} */


@media screen and (max-width: 600px) {
  .youtube-main {
    margin-top: 10rem;
  }
  .youtube-main_title {
    font-size: 40px;
  }
}


/* CSS */
.download_btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.download_btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.download_btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}